@import '../../styles/settings.scss';

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  height: 40px;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: $color-success;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($color-success, 5%);
  }
}

